@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700');

@page {
  margin: 0;
  background-color: var(--light-gray);
}

body {
  --light-gray: #f7f7f7;
  --dark-gray: #666b6a;
  --blue: #1e61b2;
  --green: #3faa17;
  --pink: #e83f6f;
  --orange: #f19953;
  --white: #ffffff;

  --sans: 'Source Sans Pro';
  --serif: 'Source Serif Pro';
  
  -webkit-print-color-adjust: exact;

  margin: 0;
  padding: 0;

  background-color: var(--light-gray);
  color: var(--dark-gray);
  font-family: var(--serif);
  font-size: 16px;
}

h1 {
  font-size: 80px;
  font-family: var(--sans);
  margin: 0;
  font-weight: 900;
  letter-spacing: 4px;
}

h3 {
  font-size: 24px;
  font-family: var(--sans);
  letter-spacing: 1px;
  font-weight: 600;
}

.header {
  grid-row: 1;
  grid-column: 1;
  background-color: var(--blue);
  color: var(--light-gray);
  box-shadow: 2px 2px 16px var(--light-gray);
  padding: 96px;
  margin: -48px 0 0 -48px;
  text-align: center;
}

.job-title {
  font-size: 40px;
  font-family: var(--sans);
  margin: 0;
  font-weight: 200;
  letter-spacing: 8px;
}

.contacts {
  font-size: 14px;
  font-family: var(--sans);
  font-weight: 300;
  letter-spacing: 2px;
  margin: 24px 0;
}

.contact {
  display: inline-block;
  vertical-align: middle;
  margin: 0 16px;
}

.contact .fab,
.contact .fas {
  font-size: 20px;
  margin-right: 8px;
}

.contacts a {
  text-decoration: none;
  color: var(--light-gray);
}

.contacts a:hover {
  text-decoration: underline;
}

.summary {
  letter-spacing: 1px;
  width: 110%;
  margin-left: -5%;
  margin-top: 8px;
  font-weight: 300;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto auto;
  gap: 48px;
  padding: 48px;
}

.skills {
  grid-row: 2;
  grid-column: 1;
}

.skills h2 {
  color: var(--green);
}

img {
  margin-right: 8px;
}

span.flag-icon {
  font-size: 24px;
  margin-right: 16px;
}

.education {
  grid-row: 3 / span 2;
  grid-column: 1;
}

.education h2 {
  color: var(--pink);
}

.associations {
  grid-row: 4;
  grid-column: 2;
}

.associations h2 {
  color: var(--blue);
}

.experience {
  grid-row: 1 / span 3;
  grid-column: 2;
}

.experience h2 {
  color: var(--orange);
}

.panel {
  padding: 40px;
  border-radius: 2px;
}

.panel h2 {
  font-size: 32px;
  text-align: center;
  font-family: var(--sans);
  font-weight: 600;
  letter-spacing: 2px;
}

.entry {
  margin: 32px 0;
  display: grid;
  grid-template-columns: 65% 1fr;
}

.entry div {
  margin-bottom: 8px;
}

.org {
  grid-row: 1;
  grid-column: 1;
  font-family: var(--sans);
  font-weight: 700;
  font-size: 20px;
}

.place {
  grid-row: 1;
  grid-column: 2;
  text-align: right;
  font-family: var(--sans);
  font-weight: 300;
}

.date {
  grid-row: 2;
  grid-column: 2;
  text-align: right;
  font-family: var(--sans);
  font-weight: 300;
}

.label {
  grid-row: 2;
  grid-column: 1;
  font-family: var(--sans);
}

.description {
  grid-row: 3;
  grid-column: 1 / span 2;
  font-size: 16px;
  letter-spacing: .5px;
}

.keywords {
  grid-row: 4;
  grid-column: 1 / span 2;
  font-style: italic;
  text-align: center;
}

